{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            <h2>My Blog</h2>
            <p>Присоединяйся к нашему каналу</p>
            <iframe src="https://discordapp.com/widget?id=430415514636910592&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </body>
</html>